* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header-background {
    background: #222222;
    height: 75px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-container-left {
    display: flex;
    gap: 41px;
    align-items: baseline;
    margin: auto 0 19px 0;
}

.header-container-right {
    display: flex;
    gap: 33px;
    margin: 26px 0 20px 0;
}

.brand-logo {
    display: block;
    background-image: url(../img/brand-logo.svg);
    width: 44px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search {
    max-height: 28px;
}

.search-icon {
    fill: #E8E8E8;
}

.hamburger-menu {
    margin: 4px 0px 2px 0px;
    height: 23px;
}

.personal-room {
    fill: #E8E8E8;
    max-height: 29px;
}

.cart {
    fill: #E8E8E8;
}

.promo-background {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    margin-bottom: 65px;
}

.promo-image-wrp {
    max-width: 50%;
}

.promo-brandname-container {
    padding-left: 64px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.rectangle {
    height: 92px;
    width: 12px;
    background: #F16D7F;
}

.brand-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    margin: 0;
}

.main-name-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
}

.main-name-title-colorword {
    color: #F16D7F;
}

.catalog-grid-wrp {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.catalog-for {
    position: relative;
}

.catalog-for::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    z-index: 0;
}

.text-wrp {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.catalog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-align: center;
}

.wide {
    grid-column: 1 / -1;
}

.fetured-items-title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
    text-align: center;
}

.fetured-items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 30px;
    margin-bottom: 48.5px;
    justify-content: center;
}

.fetured-items-text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}

.fetured-item {
    background: #F8F8F8;
}

.fetured-item-image-wrp {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image {
    z-index: 0;
}

.fetured-item-image-wrp::before {
    position: absolute;
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    z-index: 1;
}

.add-to-cart-btn {
    z-index: 2;
    position: absolute;
    height: 43px;
    width: 138px;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.item-in-btn-wrp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.add-to-cart-btn:hover {
    box-shadow: 0 0 5px #fff;
}

.fetured-item:hover .fetured-item-image-wrp::before {
    display: block;
}

.fetured-item:hover .add-to-cart-btn {
    display: block;
}

.item-desc-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.item-name {
    font-size: 13px;
    line-height: 16px;
}

.item-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.item-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.btn-wrp {
    display: flex;
    justify-content: center;
    margin-bottom: 60.5px;
}

.all-product-btn {
    height: 48px;
    width: 212px;
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FF6A6A;
    background-color: transparent;
    border: 1px solid #FF6A6A;
    cursor: pointer;
}

.all-product-btn:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(49.8% - 367px);
        padding-right: calc(49.8% - 367px);
    }
    .header-container {
        padding: 0px 41px 0px 32px;
    }
    .promo-background {
        margin-bottom: 0;
    }
    .promo-brandname-container {
        padding-left: 40px;
    }
    .brand-name {
        font-size: 44px;
        line-height: 53px;
    }
    .main-name-title {
        font-size: 24px;
        line-height: 29px;
    }
    .catalog-grid-wrp {
        gap: 20px;
        padding-bottom: 109px;
    }
    .fetured-items-title {
        margin-bottom: 4px;
    }
    .fetured-items-list {
        gap: 16px;
    }
    .fetured-items-text {
        margin-bottom: 74px;
    }
}